@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: coral !important;
}
.big {
    font-size: 2rem;
}


.cat {
    margin: 2vw;
    background: #9ca3af;
    border-radius: 2rem;
    padding: 2vw;
}
